<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
        
        <!--
        Remove Server and X-Powered-By headers from your Azure Mobile Apps
        https://blogs.msdn.microsoft.com/jpsanders/2015/10/07/remove-server-and-x-powered-by-headers-from-your-azure-mobile-apps/
        -->
        <security>
            <requestFiltering removeServerHeader="true"></requestFiltering>
        </security>
        
        <rewrite>
            <rules>
                
                <!--rule name="LowerCaseRule1" stopProcessing="true">
                <match url="[A-Z]" ignoreCase="false" />
                <action type="Rewrite" url="{ToLower:{URL}}" />
                </rule-->

                <rule name="Proxy Help" stopProcessing="true">
                    <match url="^help/?(.*)" />
                    <action type="Rewrite" url="http://localhost:50229/help/{R:1}" />
                </rule>
                
                <rule name="Proxy Areas" stopProcessing="true">
                    <match url="^areas/?(.*)" />
                    <action type="Rewrite" url="http://localhost:50229/areas/{R:1}" />
                </rule>      
                
                <rule name="Proxy API" stopProcessing="true">
                    <match url="^api/?(.*)" />
                    <action type="Rewrite" url="http://localhost:50229/api/{R:1}" />
                </rule>

                <rule name="Angular Routes Sock" stopProcessing="true">
                    <match url="^en/sockjs-node/?(.*)" />
                    <action type="Rewrite" appendQueryString="true" url="wss://localhost:4200/en/sockjs-node/{R:1}"/>
                </rule>
                
                <rule name="Angular Routes EN" stopProcessing="true">
                    <match url="^en/?(.*)" />
                    <action type="Rewrite" appendQueryString="true" url="http://localhost:4200/en/{R:1}"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>